<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="css\home.css">
</head>
<body>

    <div class="background-image">
        <h1>Escoge tu usuario</h1>

        <div class="containerAdmin">
            <a href="loginAdmin.html" class="botonEnviar">
                <span class="iconoSvg">
                    <!-- Aquí puedes incluir tu icono SVG usando la etiqueta <img> o como fondo de un <div> -->
                    <img src=".\images\admin.svg" alt="Icono Administrador">
                </span>
                Administrador
            </a>
        </div>
    
        <div class="containerPortero">
            <a href="loginPortero.html" class="botonEnviar">
                <span class="iconoSvg">
                    <!-- Aquí puedes incluir tu icono SVG usando la etiqueta <img> o como fondo de un <div> -->
                    <img src=".\images\portero.svg" alt="Icono Portero">
                </span>
                Portero
            </a>
        </div>
    
        <div class="containerConductor">
            <a href="tarifasEspacioConductor.html" class="botonEnviar">
                <span class="iconoSvg">
                    <!-- Aquí puedes incluir tu icono SVG usando la etiqueta <img> o como fondo de un <div> -->
                    <img src=".\images\driver.svg" alt="Icono Conductor">
                </span>
                Conductor
            </a>
        </div>
    </div>

</body>
</html>
