<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login Portero</title>
        <link rel="stylesheet" href="css\login.css">
    </head>

    <body>
        <img class="logo" src=".\images\logo.png " class="sirius" alt="Un golden retriever feliz">
        <h1> Bienvenidos a QuickedParked!</h1>
        <h2> Ingresa tus datos para poder verificar tu identidad y así podrás acceder a tus servicios</h2>
        <div class="frameLogin">
            <form>
                <label for="txtCorreo">Correo Electrónico</label>
                <input type="text" name="usuario" id="txtCorreo">
            </form>
            <form>
                <label for="txtPassword">Contraseña</label>
                <input type="text" name="password" id="txtPassword">
            </form>
            
            <a href="admisionPortero.html" class="botonEnviar">Iniciar Sesión</a>
        </div>
    </body>
</html>
