<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Tarifas y Espacios</title>
        <link rel="stylesheet" href="css\tarifasEspacio.css">
        <link rel="stylesheet" href="css\barraMenu.css">
    </head>

    <body>
        <nav>
            <ul>
                <li class="title">QuickedParked</li>
                <li><a href="adminEspacios.html">Administrador de Espacios</a></li>
                <li><a href="admision.html">Admisión</a></li>
                <li><a href="salida.html">Salida</a></li>
                <li><a href="tarifasEspacio.html">Tarifas y espacios</a></li>
                <li><a href="home.html">Cerrar Sesión</a></li>
            </ul>
        </nav>

        
        <h1 class="CrearP">Tarifas Establecidas </h1>

        <div class="frameTarifas">
            <h3>Acá podrás visualizar las tarifas establecidas para los distintos tipos de vehículo</p>


            <div class="containerTabla">
                <table class="tableData" >
                    <thead>
                        <tr>
                            <th>Tipo de vehículo</th>
                            <th>Tarifa por minuto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Motos</td>
                            <td>$40 min</td>
                        </tr>
                
                        <tr>
                            <td>Carros</td>
                            <td>$60 min</td>
                        </tr>
                
                        <tr>
                            <td>Buses</td>
                            <td>$100 min</td>
                        </tr>
                    </tbody>
                </table>
            </div>

    
            
        </div>





        <h1 class="CrearP">Espacios Disponibles </h1>

        <div class="frameEspacios">
            <h3>Acá podrás visualizar las tarifas establecidas para los distintos tipos de vehículo</p>


            <div class="containerTabla">
                <table class="tableData" >
                    <thead>
                        <tr>
                            <th>Número de piso</th>
                            <th>Tipo de vehículo</th>
                            <th>Cupos disponibles por piso</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Motos</td>
                            <td>5</td>
                        </tr>
                
                        <tr>
                            <td>2</td>
                            <td>Carros</td>
                            <td>0</td>
                        </tr>
                       
                        <tr>
                            <td>3</td>
                            <td>Carros</td>
                            <td>8</td>
                        </tr>
                
                        <tr>
                            <td>4</td>
                            <td>Buses</td>
                            <td>2</td>
                        </tr>
                    </tbody>
                </table>
            </div>

    
            
        </div>




    </body>
</html>
