@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body {
    background-color: aliceblue;
}


.background-image {
    position: relative;
    background-image: url("./images/parking.jpg"); /* Reemplaza con la ruta de tu imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; /* Ajusta la altura según tus necesidades */
}


h1{
    color: #438f9c ;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 70px;
    margin-top: 55px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline #9DDBE6;
   
}  

h2{
    color: #9DDBE6 ;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: 35px;
    text-align: center;
    margin-bottom: 15px;
}

h3{
    color: #F5FAFE ;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-align: left;
}  
p{

    color:#555555;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;

}


.logo{
    margin-left: 490px;
    width: auto;
    height: 300px;
    margin-bottom: 0px;
    
}

.frameUsuario{ 
    margin-top: 10px;
    margin-left: 75px;
    width: 800px;
    height: 300px;
    background-color: #fff; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondos */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra negra con 10% de opacidad */
    padding: 20px; /* Espaciado interno (ajusta según tus necesidades) */
}

.frameLogin  label {
    color: #407DA8 ;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin-right: 20px;
}
.frameLogin h3{
    text-align: center;
}

.frameLogin input{
    width: 500px;
    margin-bottom: 35px;
}
.frameLogin input[type="submit"]{
    width: 70px;
    font-family: 'Lato', sans-serif;
    align-items: center;
    font-style: bold;
    justify-content: center;
    display: flex;
}




.containerAdmin{
    margin-left: 650px;
    margin-top: 150px;
    margin-bottom: 80px;
}


.containerPortero{
    margin-left: 685px;
    margin-bottom: 80px;
}


.containerConductor{
    margin-left: 675px;
    margin-bottom: 80px;
}



.iconoSvg {
    display: inline-block;
    width: 20px; /* Ajusta el ancho del icono según tus necesidades */
    height: 20px; /* Ajusta la altura del icono según tus necesidades */
    margin-right: 10px; /* Espacio entre el icono y el texto del botón */
    /* Puedes agregar más estilos según tus preferencias */
}

/* Estilos para los botones */
.botonEnviar {
    background-color: #438f9c;
    color: #cdeff1;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    
    align-items: center;
    justify-content: center;
    text-decoration: none; /* Elimina la decoración de texto en el enlace */
}

.botonEnviar:hover {
    background-color: #034a51;
}





